@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

$unsaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);

$gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient2: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper {
  display: grid;
  margin: auto;
  min-width: 1440px;
  grid-template-columns: repeat(12fr);
  grid-template-rows: 25% auto;
}

.left {
  grid-template-rows: 15% auto;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  background-image: url("../images/bg-pattern-desktop.svg"), $gradient1;
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: 0px 0px;
  // grid-template-row: 60%;

  header {
    width: 70%;
    margin: auto;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .content {
    width: 70%;
    margin: auto;
    grid-row-start: 2;
    grid-row-end: 3;

    #we {
      color: $unsaturated-red;
      font-weight: 300;
      font-size: 2.8em;
      text-transform: uppercase;
      letter-spacing: 20px;
    }

    #coming {
      margin-top: 5px;
      font-weight: 600;
      font-size: 2.8em;
      color: $dark-grayish-red;
      text-transform: uppercase;
      letter-spacing: 20px;
    }
    #text {
      margin-top: 10px;
      color: $unsaturated-red;
      line-height: 30px;
      letter-spacing: 2px;
    }
    #form {
      display: flex;
      margin-top: 55px;
      #input {
        border: 1px solid gray;
        width: 100%;
        height: 60px;
        border-radius: 50px;

        input {
          margin-left: 30px;
          width: 100%;
          height: inherit;
          border: none;
          background-color: transparent;
          ::hover {
            outline: none;
          }
          ::focus {
            outline: none;
          }
        }
      }
      #button {
        background: $gradient2;
        position: relative;
        right: 50px;
        width: 130px;
        box-shadow: 2px 5px 21px -4px rgb(229, 109, 121);
        border-radius: 30px;
        // display: flex;
        // text-align: center;
        // justify-content: center;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover {
          background: $unsaturated-red;
        }
      }
    }
  }
}

.right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  img {
    width: 100%;
  }
}

footer {
  text-align: center;
}
