@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
  max-width: 1440px;
}

h1 {
  font-size: 4.3em;
  margin: 0px;
  font-weight: 600;
  letter-spacing: 11px;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dbaaaa;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dbaaaa;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dbaaaa;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dbaaaa;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: dbaaaa;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: dbaaaa;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/bg-pattern-desktop.svg"), linear-gradient(135deg, white, #fff5f5);
}

.wrapper .model {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.wrapper .model img {
  width: 100%;
}

.wrapper .info-wrapper {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-wrapper .info-content_logo {
  position: absolute;
  top: 5%;
}

.info-wrapper .info-content {
  width: 54%;
}

.info-wrapper .info-content .info-content_text {
  margin-bottom: 40px;
}

.info-wrapper .info-content .info-content_text .we {
  color: #ce9797;
  font-weight: 300;
}

.info-wrapper .info-content .info-content_text p {
  color: #ce9797;
  line-height: 30px;
}

.info-content_form .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.info-content_form .input-wrapper input {
  width: 100%;
  height: 60px;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  background-color: transparent;
  outline: none;
  padding: 0 0 0 20px;
  font-size: 1em;
}

.info-content_form .input-wrapper input .error {
  border: 1px solid red !important;
}

.info-content_form .input-wrapper #button {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 130px;
  height: 60px;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8c8c 100%);
  -webkit-box-shadow: 2px 5px 21px -4px #e56d79;
  box-shadow: 2px 5px 21px -4px #e56d79;
  border-radius: 30px;
  border: none;
  outline: none;
}

.info-content_form .input-wrapper .input-icon_alert {
  position: absolute;
  right: 135px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.info-content_form #status {
  display: none;
  color: #f96262;
  margin: 3% 7%;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 3em;
  }
  .input-wrapper input {
    height: 40px;
  }
  .input-wrapper #button {
    height: 40px;
  }
}

@media only screen and (max-width: 1075px) {
  h1 {
    font-size: 2.7em;
  }
  .info-wrapper .info-content_logo {
    position: absolute;
    top: 5%;
  }
  .info-wrapper .info-content {
    width: 65%;
  }
  .info-wrapper .info-content .info-content_text {
    margin-bottom: 10%;
  }
  .info-wrapper .info-content .info-content_text p {
    color: #ce9797;
    line-height: 25px;
  }
  .info-wrapper .info-content_form .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .info-wrapper .info-content_form .input-wrapper input {
    width: 100%;
    height: 40px;
  }
  .info-wrapper .info-content_form .input-wrapper #button {
    width: 80px;
    height: 40px;
  }
  .info-wrapper .info-content_form .input-wrapper .input-icon_alert {
    right: 90px;
  }
}

@media only screen and (max-width: 930px) {
  h1 {
    font-size: 2.7em;
  }
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .wrapper .model {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 60px 0 60px 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .wrapper .info-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .info-wrapper .info-content_logo {
    position: absolute;
    top: 1%;
  }
  .info-wrapper .info-content_logo img {
    width: 70%;
  }
  .info-wrapper .info-content {
    text-align: center;
    width: 80%;
  }
  .info-wrapper .info-content .info-content_text {
    margin-bottom: 10%;
    font-size: 0.9em;
  }
  .info-wrapper .info-content .info-content_text p {
    color: #ce9797;
    line-height: 25px;
  }
  .info-wrapper .info-content_form {
    margin-bottom: 70px;
  }
  .info-wrapper .info-content_form .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .info-wrapper .info-content_form .input-wrapper input {
    width: 100%;
    height: 40px;
    font-size: 0.8em;
  }
  .info-wrapper .info-content_form .input-wrapper #button {
    width: 55px;
    height: 40px;
  }
  .info-wrapper .info-content_form .input-wrapper .input-icon_alert {
    right: 65px;
  }
  footer {
    font-size: 0.7em;
  }
}

footer {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */