@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
  max-width: 1440px;
}

h1 {
  font-size: 4.3em;
  margin: 0px;
  font-weight: 600;
  letter-spacing: 11px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/bg-pattern-desktop.svg"), linear-gradient(135deg, white, #fff5f5);
}

.wrapper .model {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.wrapper .info-wrapper {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media only screen and (max-width: 1200px) {
  .wrapper .model {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .wrapper .info-wrapper {
    -ms-flex-negative: 2;
        flex-shrink: 2;
  }
}

@media only screen and (max-width: 920px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .wrapper .model {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .wrapper .info-wrapper {
    -ms-flex-negative: 2;
        flex-shrink: 2;
  }
}

.model img {
  width: 100%;
}

.info-content {
  padding-left: 180px;
  padding-right: 200px;
  margin-top: -150px;
}

.info-content .info-content_logo {
  position: relative;
  margin-bottom: 120px;
  margin-top: 50px;
}

.info-content .info-content_text {
  margin-bottom: 40px;
}

.info-content .info-content_text .we {
  color: #ce9797;
  font-weight: 300;
}

.info-content .info-content_text p {
  color: #ce9797;
  line-height: 30px;
}

.info-content .info-content_form .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.info-content .info-content_form .input-wrapper input {
  width: 100%;
  height: 60px;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  background-color: transparent;
  color: #f96262;
  outline: none;
  padding: 0 0 0 20px;
  font-size: 1.2em;
}

.info-content .info-content_form .input-wrapper input .error {
  border: 1px solid red !important;
}

.info-content .info-content_form .input-wrapper #button {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 130px;
  height: 60px;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8c8c 100%);
  -webkit-box-shadow: 2px 5px 21px -4px #e56d79;
  box-shadow: 2px 5px 21px -4px #e56d79;
  border-radius: 30px;
  border: none;
  outline: none;
}

.info-content .info-content_form .input-wrapper .input-icon_alert {
  position: absolute;
  right: 140px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.info-content .info-content_form #status {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .info-content {
    padding-left: 110px;
    padding-right: 100px;
  }
  .info-content .info-content_logo {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 1000px) {
  .info-content {
    padding-left: 80px;
    padding-right: 80px;
  }
  .info-content .info-content_logo {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 920) {
  .info-content {
    padding-left: 0px;
    padding-right: 0px;
  }
  .info-content .info-content {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info-content .info-content_logo {
    display: none;
  }
}

footer {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */