@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
$breakpoint-desktop: 1100px;
$breakpoint-tablet: 850px;
$breakpoint-mobile: 375px;

$unsaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);

$gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient2: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);

* {
  box-sizing: border-box;
}
body {
  margin: auto;
  // display: flex;
  // align-items: center;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
  max-width: 1440px;
  // background-color: blue;
}

h1 {
  font-size: 4.3em;
  margin: 0px;
  font-weight: 600;
  letter-spacing: 11px;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap; //direction wrap
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-desktop.svg"), $gradient1;

  .model {
    flex-grow: 0;
    flex-shrink: 0;
    order: 2;
  }

  .info-wrapper {
    flex-grow: 0;
    order: 1;
  }

  @media only screen and (max-width: 1200px) {
    .model {
      flex-shrink: 1;
    }

    .info-wrapper {
      flex-shrink: 2;
    }
  }
  @media only screen and (max-width: 920px) {
    flex-flow: column;

    .model {
      flex-shrink: 1;
      order: 1;
      width: 100%;
    }

    .info-wrapper {
      flex-shrink: 2;
    }
  }
}

.model {
  img {
    width: 100%;
  }
}

.info-content {
  padding-left: 180px;
  padding-right: 200px;
  margin-top: -150px;

  .info-content_logo {
    position: relative;
    margin-bottom: 120px;
    margin-top: 50px;
  }

  .info-content_text {
    margin-bottom: 40px;
    & .we {
      color: $unsaturated-red;
      font-weight: 300;
    }
    & p {
      color: $unsaturated-red;
      line-height: 30px;
    }
  }
  & .info-content_form {
    // display: flex;
    // flex-direction: row;
    .input-wrapper {
      display: flex;
      position: relative;

      input {
        width: 100%;
        height: 60px;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 50px;
        background-color: transparent;
        color: $soft-red;
        outline: none;
        padding: 0 0 0 20px;
        font-size: 1.2em;
        & .error {
          border: 1px solid red !important;
        }
      }
      #button {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 130px;
        height: 60px;
        background: linear-gradient(135deg, #f8bfbf 0%, #ee8c8c 100%);
        -webkit-box-shadow: 2px 5px 21px -4px #e56d79;
        box-shadow: 2px 5px 21px -4px #e56d79;
        border-radius: 30px;
        border: none;
        outline: none;
      }
      .input-icon_alert {
        position: absolute;
        right: 140px;
        top: 50%;
        transform: translateY(-50%);
        display: none;
      }
    }
    & #status {
      display: none;
    }
  }

  @media only screen and (max-width: 1200px) {
    padding-left: 110px;
    padding-right: 100px;
    .info-content_logo {
      margin-bottom: 80px;
    }
  }
  @media only screen and (max-width: 1000px) {
    padding-left: 80px;
    padding-right: 80px;
    .info-content_logo {
      margin-bottom: 30px;
    }
  }

  @media only screen and (max-width: 920) {
    padding-left: 0px;
    padding-right: 0px;
    
    .info-content {
      text-align: center;
      justify-content: center;
    }

    .info-content_logo {
      display: none;
    }
  }
}

footer {
  text-align: center;
}
