@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
$breakpoint-desktop: 1100px;
$breakpoint-tablet: 850px;
$breakpoint-mobile: 375px;

$unsaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);

$gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient2: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);

* {
  box-sizing: border-box;
}
body {
  margin: auto;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
  max-width: 1440px;
  // background-color: blue;
}

h1 {
  font-size: 3.7em;
  margin: 0px;
  font-weight: 600;
  letter-spacing: 11px;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap; //direction wrap
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-desktop.svg"), $gradient1;

  .model {
    flex-grow: 0;
    flex-shrink: 0;
    order: 2;
  }

  .info-wrapper {
    flex-grow: 0;
    order: 1;
  }

  @media only screen and (max-width: 1200px) {
    .model {
      flex-shrink: 1;
    }

    .info-wrapper {
      flex-shrink: 2;
    }
  }
  @media only screen and (max-width: 920px) {
    flex-flow: column;

    .model {
      flex-shrink: 1;
      order: 1;
    }

    .info-wrapper {
      flex-shrink: 2;
    }
  }
}

.model {
  img {
    width: 100%;
  }
}

.info-content {
  padding-left: 180px;
  padding-right: 200px;

  & .info-content_logo {
    position: relative;
    margin-bottom: 150px;
  }

  & .info-content_text {
    margin-bottom: 60px;
    & .we {
      color: $unsaturated-red;
      font-weight: 300;
    }
  }
  & p {
    color: $unsaturated-red;
    line-height: 30px;
  }

  @media only screen and (max-width: 1200px) {
    padding-left: 110px;
    padding-right: 100px;
    .info-content_logo {
      margin-bottom: 80px;
    }
  }
  @media only screen and (max-width: 1000px) {
    padding-left: 80px;
    padding-right: 80px;
    .info-content_logo {
      margin-bottom: 30px;
    }
  }
  @media only screen and (max-width: 920) {
    padding-left: 80px;
    padding-right: 80px;
    .info-content_logo {
      margin-bottom: 30px;
    }
  }
}

footer {
  text-align: center;
}
